/*
	Copywrite Square Bracket LLC - Sean Clark 2012-3012
	http://square-bracket.com 	
	http://connect.ai	
	http://youtube.com/optikalefxx
*/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
.tags-wrapper {
	width: 100%;
	outline: none;
	background: none;
	border: 1px solid rgba(135, 30, 153, 0.1);
	border-radius: 2px;
	padding: 2%;
	margin-top: 4%;
	font-size: 14px;
	color: #817474;
	font-family: "Lato", sans-serif;
}
.tags-wrapper ul {
	margin:0px;
	padding:0px;
}
.tags-wrapper li {
	float:left;
	list-style: none;
	font-family: "Lato", sans-serif;
}
.tags-wrapper li.tag {
	font-size:11px;
	
	border-radius:3px;
	list-style: none;
	background-clip: padding-box;
	background-color: #871E99;
	color: #fff;
	line-height: 13px;
	padding: 1px 3px 3px 5px;
	margin: 3px 0 3px 5px;
}
.tags-wrapper li a {
	text-decoration:none;
	color:white;
	padding:2px;
	display:inline-block;
	margin-left:6px;
}
.tags-wrapper li a:hover {
	color:#222;
}
.tags-wrapper input {
	display:none;
}
.tags-wrapper li.tags-input {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.tags-wrapper li input {
	display:block;
	background:transparent;
	outline:none;
	border:none;
	font-size:11px;
	height: auto;
	width:30px;
	margin: 4px;
}
.tags-wrapper .autofill-bg {
	position:relative;
	top:4px;
}