@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

// header {
//     overflow: hidden;
// }

nav {
    height: 8vh;
    width: 100% ;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
}

 .title {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.title h3 {
    font-size: 25px;
    font-weight: bold;
    color: #29092F;
    font-family: 'Lato', sans-serif;
}

.navlist {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
     margin-right: 5%;
}

.navlist li {
    /* display: inline; */
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
}

.navlist li a {
    text-decoration: none;
    color: #29092F;
}

.navlist li a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navlist li a i {
    color: #871E99;
}

.navlist li a img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-self: center;
    display: inline !important;
    object-fit: cover;
}




@media screen and (max-width:1024px) {
    nav {
        height: 8vh;
    }
    .navlist {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    nav {
        justify-content: space-between;
        height: 8vh;
        padding: 5%;
    }

    .menu {
        display: block ;
    }
    
    .navlist {
        width: 60%;
        margin-right: 2%;
    }

    .title {
        margin-left: 2%;
    }

    .title img {
        height: 25px;
        padding: 5%;
    }
    
    .title h3 {
        font-size: 18px;
    }

    .navlist li {
        font-size: 14px;
    }

    .navlist li a img {
        height: 20px;
        width: 20px;
    }
}

.dropdown-content {
    position: absolute;
    width: 20%;
    top: 8.5vh;
    right: 5%;
    background: #FEFBFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    display: none;

}

.activate-dropdown {
    display: block;
    z-index: 9999999999;
}

// .dropdown-content:after{
//     content: "";
//     position: absolute;
//     top:-7%;
//     right: 7.2%;
//     border-style: solid;
//     border-width: 24px 0px 0px 28px;
//     border-color: #871E99 transparent;
//     //border-radius: 5px;
//     display: block;
//     width: 0;
//     z-index: 1 !important;
//     transform: rotate(-40deg);
//     //box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
//     //backdrop-filter: blur(2px);
// }

// .dropdown-content:before {
//     content: "";
//     position: absolute;
//     top: -8%;
//     right:7.5%;
//     border-style: solid;
//     border-width:20px 0px 0px 23px;
//     border-color: #000 transparent;
//     display: block;
//     width: 0;
//     z-index: 0;
//     transform: rotate(-40deg);
// }

.profile-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 7px solid rgba(135, 30, 153, 0.5);
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


.img-con {
    width: 20%;
    height: 100%;
    padding: 2%;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 50%;
    }
}

.name-cone {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    //align-items: center;
    //background: chocolate;

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #C4C4C4;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        color: #C4C4C4;
    }
}

.link {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    //align-items: center;
    padding: 2%;

    a {
        text-decoration: none;
        color: #868689;
        font-family: 'Poppins', sans-serif;
        padding: 2%;
        font-size: 15px;
        //margin-left: 2%;
    }

    a:hover {
        background: #871E99;
        color: #fff;
        padding: 3%;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media screen and (max-width:1024px) {
    .dropdown-content {
        width: 30%;
    }

   .profile-details {
        .img-con {
            width: 20%;
            height: 100%;
            padding: 3%;
        
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

   }

    .name-cone {
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 10px;
            color: #C4C4C4;
        }
    
        p {
            font-family: 'Poppins', sans-serif;
            font-size: 6px;
            color: #C4C4C4;
        }
    }

    .link {
    
        a {
            font-size: 12px;
            //margin-left: 2%;
        }
    }
}

@media screen and (max-width:768px) {
    .dropdown-content {
        width: 80%;
    }
}

.active-link {
    color: #871E99 !important;
    cursor: pointer; 
}


//footer starts here
footer {
    width: 100%;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    padding: 5%;

    .footer-inner {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
       

        .footer-logo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2%;
             img {
                 object-fit: cover;
             }
        }
    
        .footer-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2%;

            p {
                font-size: 14px;
                font-family: 'Poppins', sans-serif;
            }
        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            li {
                list-style-type: none;
                font-size: 14px;
                font-family: 'Poppins', sans-serif;

                a {
                    text-decoration: none;
                    color: #000;
                    display: inline-block;
                }

                a:hover {
                     background: #871E99;
                    color: #fff;
                    padding: 5px;
                     border-radius: 5px;
                     cursor: pointer;
                }
            }


        }
    }
}

@media screen and (max-width:1024px) {
    footer {
    
        .footer-inner {
           
        
            .footer-content {
    
                p {
                    font-size: 12px;
                }
            }
    
            ul {
    
                li {
                    font-size: 12px;
    
                }
    
    
            }
        }
    }
}

@media screen and (max-width:768px) {
    footer {
    
        .footer-inner {
           
        
            .footer-content {
    
                p {
                    font-size: 12px;
                }
            }
    
            ul {
                flex-direction: column;
                li {
                    margin-bottom: 2%;
                }
            }
        }
    }
}

//index starts here
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

.home-sect {
    background: #fdfdfd;
    padding: 2%;
}

.home-style {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .checklist-settings {
        height: 100%;
        width: 20%;
        //padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;

        #close {
            display: none;
        }

        .checklist {
            background: #fff;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            border-radius: 5px;

            .checklist-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5%;
                border-bottom:1px solid rgba(135, 30, 153, 0.2);

                h1 {
                    font-size: 18px;
                    line-height: 22px;
                    color: #220726;
                    font-family: 'Lato', sans-serif;
                }

                i {
                    //font-family: 'Lato', sans-serif;
                    color: #666666;
                    font-size: 18px;
                }
            }

            .moguls {
                padding: 5% 2% 10% 2%;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 5%;
                    padding-right: 5%;
                    margin-top: 5%;
                    height: 40px;

                    h3 {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        color: #220726;
                        margin-top: 2%;
                    }

                    /* The beta */
                        .beta {
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            background: pink;
                        }
                        
                        /* Hide the browser's default checkbox */
                        .beta input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }
                        
                        /* Create a custom checkbox */
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 25px;
                            width: 25px;
                            padding: 20%;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }
                        
                        .beta:hover input ~ .checkmark {
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }
                        
                        .beta input:checked ~ .checkmark {
                            background-color: #871E99;
                            border-radius: 5px;
                        }
                        
                        /* Create the checkmark/indicator (hidden when not checked) */
                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                        
                        /* Show the checkmark when checked */
                        .beta input:checked ~ .checkmark:after {
                            display: block;
                        }
                        
                        /* Style the checkmark/indicator */
                        .beta .checkmark:after {
                            left: 9px;
                            top: 3px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                }
            }
        }

        .settings{
            background: #F5F5F5;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            margin-top: 10%;
            padding: 5%;
            border-radius: 5px;

            form {
                h3 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #220726;
                    font-family: 'Lato', sans-serif;
                }

                // select {
                //     width: 100%;
                //     margin-top: 5%;
                //     padding: 3%;
                //     border-radius: 3px;
                //     border: none;
                // }

                .custom-select {
                    position: relative;
                    margin-top: 5%;
                    width: 100%;
                  }
                  
                  .custom-select select {
                    display: none; /*hide original SELECT element:*/
                  }
                  
                  .select-selected {
                    background-color: #fff;
                    border-radius: 3px;
                  }
                  
                  /*style the arrow inside the select element:*/
                  .select-selected:after {
                    position: absolute;
                    content: "";
                    top: 14px;
                    right: 10px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-color: #871E99 transparent transparent transparent;
                  }
                  
                  /*point the arrow upwards when the select box is open (active):*/
                  .select-selected.select-arrow-active:after {
                    border-color: transparent transparent #871E99 transparent;
                    top: 7px;
                  }
                  
                  /*style the items (options), including the selected item:*/
                  .select-items div,.select-selected {
                    color: #29092F;
                    font-size: 14px;
                    padding: 8px 16px;
                    border: 1px solid transparent;
                    cursor: pointer;
                    user-select: none;
                    font-family: 'Poppins', sans-serif;
                  }
                  
                  /*style items (options):*/
                  .select-items {
                    position: absolute;
                    background-color: #fff;
                    top: 100%;
                    left: 0;
                    right: 0;
                    z-index: 99;
                  }
                  
                  /*hide the items when the select box is closed:*/
                  .select-hide {
                    display: none;
                  }
                  
                  .select-items div:hover, .same-as-selected {
                    background-color: #871E99;
                    color: #fff;
                  }
            }
        }
    }

    .posts {
        width: 78%;
        background: #FFFFFF;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
        //padding: 2%;

        .content {
            padding: 2% 5% 2% 5%;

            .topics-people {
                width: 100%;

                h3 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;
                    color: #220726;
                    font-family: 'Poppins', sans-serif;
                    padding: 2% 0% 2% 0%;
                    border-bottom: 1px solid #50115A ;
                }

                .people {
                    width: 100%;
                    overflow-x: scroll;
                    scroll-behavior: smooth;
                    overflow-y: hidden;
                    white-space: nowrap;
                    margin-top: 2%;

                    &::-webkit-scrollbar{
                        //display: none;
                        height: 2px;
                        width: 0px;
                        background: transparent;
                    }

                    &::-webkit-scrollbar-track{
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb{
                        background: #871E99;
                    }

                    &::-webkit-scrollbar-thumb:hover{
                        background: #29092F;
                    }

                    figure {
                        display: inline-block;
                        width: 100px;
                        padding: 2%;

                        img {
                            width: 70px;
                            object-fit: cover;
                            border-radius: 50%;
                            height: 70px;
                            margin-left: 50%;
                            margin-right: 50%;
                            transform: translate(-50%);
                        }

                        figcaption {
                            text-align: center;
                            font-family: 'Open Sans', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 25px;
                            color: #220726;

                        }
                    }
                }
            }

            .blog-posts {
                width: 100%;

                .main-content {
                    margin-top: 0%;
                    margin-bottom: 2%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .profile-img {
                        width: 10%;
                        height: 100%;
                        padding: 1.7%;

                        img {
                            height: 50px;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    .content-visible {
                        width: 90%;
                            h2 {
                                font-family: 'Poppins', sans-serif;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 18px;
                                line-height: 27px;
                                color: #871E99;
                                margin-top: 1%;
                            }

                            small {
                                font-size: 10px;
                                color: #aaa;
                                font-family: 'Open Sans', sans-serif;
                            }

                            h3 {
                                font-family: 'Poppins', sans-serif;
                                font-style: normal;
                                font-weight: 800;
                                font-size: 18px;
                                line-height: 27px;
                                color: #2B0B31;
                                margin-top: 1%;
                            }

                            img {
                                width: 100%;
                                height: 250px;
                                object-fit: cover;
                                border-radius: 5px;
                                margin-top: 2%;
                                
                            }

                            p {
                                font-family: 'Open Sans', sans-serif;
                                font-size: 14px;
                                line-height: 2;
                                color: #29092F;
                                margin-top: 2%;

                                a {
                                    text-decoration: none;
                                    background: #871E99;
                                    color: #fff;
                                    font-family: 'Open Sans', sans-serif;
                                    padding: 5px;
                                    border-radius: 5px;
                                }

                                a:hover {
                                    background: #50115A;
                                }
                            }
                    }



                    
                }
            }
        }
    }
}

 .show-read-more .more-text{
    display: none !important;
}

@media screen and (max-width: 1024px) {
    .checklist-settings {
        width: 25% !important;

        .checklist {

            .moguls {
                div {
                    h3 {
                        font-size: 12px !important;   
                    }
                }
            }

            .checklist-header {
                h1 {
                    font-size: 16px !important;
                }

                i {
                    font-size: 16px !important;
                }
            }
        }

        .settings {
            form {
                h3 {
                    font-size: 16px !important; 
                }
                .select-items div,.select-selected {
                    font-size: 12px !important;
                  }
            }
        }
    }

    .posts {
        width: 72% !important;
        .content {
            .topics-people {
                margin-top: 0;
                h3 {
                    font-size: 20px !important; 
                    padding: 0% 0% 0% 0% !important;
                }

                .people {

                    figure {

                        img {
                            width: 50px !important;
                            height: 50px !important;
                        }

                        figcaption {
                            font-size: 12px !important;
                        }
                    }
                }
            }

            .blog-posts {

                .main-content {

                    .profile-img {
                        width: 10% !important;
                        padding: 1% !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            height: 30px !important;
                             width: 30px !important;
                        }
                    }

                    .content-visible {
                        width: 88% !important;
                        h2 {
                            font-size: 16px !important;
                        }

                        small {
                            font-size: 8px !important;

                        }

                        h3 {
                            font-size: 16px !important;
                        }

                        img {
                            height: 200px;
                        }

                        p {
                            font-size: 12px !important;
                            line-height: 2.3 !important;
                            margin-top: 2.3% !important;

                            a {
                                padding: 3px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .home-sect {
        padding: 0 !important;
        .container {
            padding: 0 !important;   
            width: 100% !important;
        }
        .checklist-settings {
            display: none;
            // position: relative;
            // top: 8vh;
            // left: 0;
            // bottom: 0;
            // transition: 2s;
            // z-index: 99999999;
            // background: chartreuse;
            // width: 60% !important;
            // padding: 2%;


            height: 92vh;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 8vh;
            left: 0;
            background-color: rgba(255,255,255,0.9);
            overflow-x: hidden;
            transition: 0.5s;
            padding: 2%;
            width: 95% !important;
            align-items: flex-start !important;
            overflow-y: scroll;
            scroll-behavior: smooth;
            overflow-x: hidden;
            white-space: nowrap;

            #close {
                display: block;
                position: absolute;
                right: 5px;
                top: 5px;
                font-size: 18px;
                color: #871E99;
            }

            .checklist {
                //background: chartreuse;
                width: 80% !important;
                margin-top: 5%;

                .checklist-header {
                    //background: chocolate;
                }
            }

            .settings {
                width: 80% !important;
            }
        }
    
        .posts {
            width: 100% !important;

            .main-content {
                margin-bottom: 2%;
                .profile-img {
                    width: 10% !important;
                    padding: 1%;
                }

                .content-visible {
                    width: 88% !important;
                    h2 {
                        font-size: 16px !important;
                    }

                    small {
                        font-size: 8px !important;
                    }

                    h3 {
                        font-size: 16px !important;
                    }

                    img {
                        height: 150px !important;
                    }

                    p {
                        font-size: 12px !important;
                        line-height: 2.3 !important;
                        margin-top: 2.3% !important;

                        a {
                            padding: 3px !important;
                        }
                    }
                }
            }
        }
    }
}